<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/1a305bd0b5.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="notification">
        <p>
            <i class="fas fa-box"></i> Designers, last chance! Join Pablo Stanley for
            <span>
                an interactive two-part Webflow crash
                course
            </span> on 6/30 + 7/7. Don’t miss out! <i class="fas fa-box"></i>
        </p>
        <a href="#" class="cross-icon"> <i class="fas fa-times "></i></a>


    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">dribble</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Inspiration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Find Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Learn Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Go Pro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hire Designers</a>
                    </li>

                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link " href="#"><i class="fas fa-search"></i></a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link" href="#">Sign In</a>
                    </li>
                    <li class="nav-item sign-up ms-lg-2">
                        <a class="nav-link " href="#">Sign Up</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="main-content-container container-lg">
        <div class="main-content">
            <div class="trial row">
                <div class="trial-description col-lg-8 row ">
                    <button class="hotjar-button col-2">hotjar</button>
                    <div class="trial-text-container col-10">
                        <span>Create designs that drive conversions with Hotjar.</span>
                        <span><small>Don't want to see ads? Go Pro!</small></span>
                    </div>
                </div>
                <div class="trial-button-container col-lg-4">
                    <button class="trial-button">Try now for free</button>
                </div>
            </div>
            <div class="image-header row">
                <div class="image-header-description col-lg-8 row">
                    <img class="image-header-profile col-4"
                        src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVyc29ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                    <div class="image-text-container col-8">
                        <span><strong>Dropbox Desktop Redesign - Web Dashboard Product Design</strong></span>
                        <span><small>Aurélien Salomon ➔ for Orizon: UI/UX Design Agency •Follow • Hire Us</small></span>
                    </div>


                </div>
                <div class="header-buttons col-lg-4">
                    <button class="d-none d-lg-block">Save</button>
                    <button class="d-none d-lg-block">Like</button>
                    <div class="button-set1 d-block d-lg-none mt-3 mt-lg-none">
                        <button><i class="fas fa-folder"></i></button>
                        <button><i class="fas fa-heart"></i></button>
                    </div>
                    <div class="button-set2 d-block d-lg-none mt-3 mt-lg-none">
                        <button><i class="fas fa-share"></i></button>
                        <button><i class="fas fa-comment"></i></button>
                        <button><i class="fas fa-info-circle"></i></button>
                    </div>
                </div>
            </div>
            <div id="image-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHdlYnNpdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8d2Vic2l0ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#image-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="image-info">
                <p>
                    Just a visual direction exploration. Take with a grain of salt. I love how clean Dropbox is at the
                    moment.
                </p>
                <p>
                    Hope you like it! Press "L" on your keyboard if you do and follow me to not miss upcoming work.
                </p>
                <p>
                    Take Care & Love from Montréal!
                </p>
                <ul>
                    <li>
                        🌟 Awesome freebies on CM and UI8 for your next project
                    </li>
                    <li>
                        🎆 Exclusive content on Instagram
                    </li>
                </ul>
                <p>
                    <a href="">Twitter</a> | <a href="#">Behance</a> | <a href="#">LinkedIn</a> | <a
                        href="#">Download</a>
                </p>
            </div>
            <div class="hire-message">
                <p>
                    <strong> Orizon: UI/UX Design Agency</strong><br>
                    <small> We help startups & Fortune 500 companies design products</small>
                </p>
                <button><i class="fas fa-envelope"></i> Hire Us</button>
            </div>
            <div class="more-info">
                <div class="more-info-description">
                    <span><strong>More by Orizon: UI/UX Design Agency</strong></span>
                    <span><a href="#">View profile</a></span>
                </div>
                <div class="more-info-images row">
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 more-info-image">
                        <img src="https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHdlYnNpdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            alt="...">
                        <div class="more-info-overlay">
                            <span><strong>Task Manager</strong></span>
                            <div class="overlay-buttons">
                                <button><i class="fas fa-folder"></i></button>
                                <button><i class="fas fa-heart"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 more-info-image">
                        <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDZ8fHdlYnNpdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            alt="...">
                        <div class="more-info-overlay">
                            <span><strong>Task Manager</strong></span>
                            <div class="overlay-buttons">
                                <button><i class="fas fa-folder"></i></button>
                                <button><i class="fas fa-heart"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 more-info-image">
                        <img src="https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d2Vic2l0ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            alt="...">
                        <div class="more-info-overlay">
                            <span><strong>Task Manager</strong></span>
                            <div class="overlay-buttons">
                                <button><i class="fas fa-folder"></i></button>
                                <button><i class="fas fa-heart"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 more-info-image">
                        <img src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fHdlYnNpdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            alt="...">
                        <div class="more-info-overlay">
                            <span><strong>Task Manager</strong></span>
                            <div class="overlay-buttons">
                                <button><i class="fas fa-folder"></i></button>
                                <button><i class="fas fa-heart"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>



    <div class="footer-container">
        <div class="footer row">
            <ul class="col-lg-2 col-6">
                <li class="logo"><strong>dribble</strong></li>
                <li>Dribbble is the world’s leading community for creatives to share, grow, and get hired.</li>
                <li class="social-media-icons">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
            <ul class="col-lg-2 col-6">
                <li><strong>For designers</strong></li>
                <li>Go Pro!</li>
                <li>Explore Design Work</li>
                <li>Design Blog</li>
                <li>Overtime Podcast</li>
            </ul>
            <ul class="col-lg-2 col-6">
                <li><strong>Hire Designers</strong></li>
                <li>Post a job</li>
                <li>Post a freelance project</li>
                <li>Search for designers</li>

            </ul>
            <ul class="col-lg-2 col-6">
                <li><strong>Company</strong></li>
                <li>About</li>
                <li>Careers</li>
                <li>Support</li>
                <li>Media kit</li>
            </ul>
            <ul class="col-lg-2 col-6">
                <li><strong>Directories</strong></li>
                <li>Design jobs</li>
                <li>Designers for hire</li>
                <li>Tags</li>
                <li>Places</li>
            </ul>
            <ul class="col-lg-2 col-6">
                <li><strong>Design Assets</strong></li>
                <li>Shop Creative Market</li>
                <li>API</li>
                <li>Terms of service</li>
                <li>Privacy policy</li>
            </ul>
        </div>
    </div>

    <div class="floating-buttons">

        <ul>
            <img
                src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVyc29ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">

            <li><i class="fas fa-heart"></i></li>
            <li><i class="fas fa-share"></i></li>
            <li><i class="fas fa-comment"></i></li>
            <li><i class="fas fa-info-circle"></i></li>
            <li><i class="fas fa-folder"></i></li>
        </ul>
    </div>










    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>